#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.banner{
  animation: is-rotating 2.5s infinite;

}

@keyframes is-rotating {
  to {
    transform: rotate(3turn);
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
  padding: 32px;
  gap: 80px;
  justify-content: center;

  
.fotoGaleria{

  width: 320px;
}
